<h1 style="text-align: center;">Search For Jeopardy Clues</h1>
<p style="text-align: center;">Use the search form below to search for Jeopardy Clues by category, dollar value, and a time range of when the clue was aired on T.V. Feel free to leave any/all fields blank when searching!</p>
<p style="text-align: center;">* Keep in mind that the category search bar is case-sensitive and must be spelled exactly as the category is spelled *</p>
<form method="post">
    <table style="margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td>Category</td>
                <td>
                    <input name="category" type="text" placeholder="Search by Category" />
                </td>
            </tr>
            <tr>
                <td>Dollar Value</td>
                <td>
                    <select name="value">
                        <option hidden="" value="">Choose Value</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="800">800</option>
                        <option value="1000">1000</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Beginning of Range</td>
                <td>
                    <input name="max_date" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
                </td>
            </tr>
            <tr>
                <td>End of Range</td>
                <td>
                    <input name="min_date" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit"> <em>Search</em> </button>
                </td>
            </tr>
        </tbody>
    </table>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://media.graytvinc.com/images/810*462/Jeopardy1.jpg" alt="" width="408" height="233" /></p>
</form>