<html>

<head>
    <meta name="viewport" content="width=device-width, initial-
        scale=1">
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <h1><center>Search For Clues</center></h1>
    <form class="example" method="post" style="margin:auto;max-width:600px">
        <table style="margin-left: auto; margin-right: auto; width: 400px">
            <tr>
                <td>&nbsp;
                    <input name="category" type="text" placeholder="Search by Category" />
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">&nbsp;
                    <select name="value">
                        <option hidden="" value="">Choose Value</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="800">800</option>
                        <option value="1000">1000</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;Start Date:&nbsp;
                    <input name="max_date" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
                </td>
            </tr>
            <tr>
                <td>&nbsp; End Date:&nbsp;
                    <input name="min_date" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit"> <em>Search</em> </button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>